<div class="navbar">
    <div class="links">
        <a href="/about">About&nbsp;Us</a>
        <a href="/contact#faq">FAQs</a>
        <a href="/contact">Contact&nbsp;Us</a>
        <a href="/legal/terms">Terms&nbsp;&amp;&nbsp;Conditions</a>
        <a href="/legal/privacy">Privacy&nbsp;Policy</a>
    </div>
</div>

<hr class="px-2 text-primary">

<div class="copyright">
    <div>
        <small>Website maintained by <a class="text-accent" href="https://oatcake.org">Oatcake</a></small>
    </div>
    <div>
        <small>&copy; <span id="copyYear"></span> {% if (tags) %}{{title}}{% else %}FindMenu.org{% endif %} | All Rights Reserved</small>
    </div>
</div>