<hr class="px-2 text-primary">

<div class="copyright">
    <div>
        <small>Website maintained by <a class="text-accent" href="https://oatcake.org">Oatcake</a></small>
    </div>
    <div>
        <small>&copy; <span id="copyYear"></span> {% if (tags) %}{{title}}{% else %}FindMenu.org{% endif %} | All Rights Reserved</small>
    </div>
</div>