<div class="listing card" onClick="parent.location='{{ post.url }}'">
    <a href="{{ post.url }}" class="info">
        <p>{{ post.data.title }}</p>
        {%- if (post.data.hours) %}
            <p>{{post.data.city}}, {{post.data.state}} - View Availability</p>
        {%- else -%}
            <p>{{ post.data.address }} {{post.data.city}}, {{post.data.state}}</p>
        {%- endif -%}
    </a>
</div>