<nav class="navbar {{type}}">
    <a href="/" class="nav-logo">{% include "svg/logo.svg" %}</a>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/claim/" class="nav-link claim">Claim<span>&nbsp;Restaurant</span></a>
            <a href="/add/" class="nav-link add">Add<span>&nbsp;Restaurant</span></a>
        </li>
    </ul>
</nav>