---
layout: 'layouts/base.njk'
type: interior
---

<section id="listing">
        {% if (city) %}
        <div class="slug">
            <a href="/{{state}}">{{state}}</a>
            <a>{{city}}</a>
        </div>
        {% endif %}
        <div class="info">
                <div class="title">
                    <h1>{{title}}</h1>
                        <a href="/{{category.one}}" class="tag light rounded">{{category.one}}</a>
                        {% if (category.two) %}
                        <a href="/{{category.two}}" class="tag light rounded">{{category.two}}</a>
                        {% endif %}
                        {% if (category.three) %}
                        <a href="/{{category.three}}" class="tag light rounded">{{category.three}}</a>
                        {% endif %}
                        {% if (category.four) %}
                        <a href="/{{category.four}}" class="tag light rounded">{{category.four}}</a>
                        {% endif %}
                </div>

                <div class="contact">
                    {%- if (phone) %}
                    <div class="container">
                        {% include 'svg/phone.svg' %}
                        <a href="tel:{{phone}}">{{phone}}</a>
                    </div>
                    {%- endif -%}
                    {%- if (email) %}
                    <div class="container">
                        {% include 'svg/email.svg' %}
                        <a href="mailto:{{email}}">{{email}}</a>
                    </div>
                    {%- endif -%}
                </div>

                {%- if (order) %}
                    <a href="{{order}}" class="order button primary default rounded">Order&nbsp;Now</a>
                {%- endif -%}

                {%- if (address) %}
                    <div class="location">
                        <p>{{address}}</p>
                        <p>{{city}}, {{state}} {{zip}}</p>
                    </div>
                {%- endif -%}

                <div class="social">
                    {%- if (website) %}
                        <a href="{{website}}">{% include 'svg/website.svg' %}</a>
                    {%- endif -%}

                    {%- if (facebook) %}
                        <a href="{{facebook}}">{% include 'svg/facebook.svg' %}</a>
                    {%- endif -%}

                    {%- if (instagram) %}
                        <a href="{{instagram}}">{% include 'svg/instagram.svg' %}</a>
                    {%- endif -%}

                    {%- if (yelp) %}
                        <a href="{{yelp}}">{% include 'svg/yelp.svg' %}</a>
                    {%- endif -%}
                </div>

                {%- if (desc) %}
                    <p>{{desc}}</p>
                {%- endif -%}

                <div class="hours">
                    {%- if (hours) %}
                    <h2 class="mb-2">Hours:</h2>
                    <a id="hours-btn" href="{{hours}}">View&nbsp;Availability&nbsp;on&nbsp;SFF</a>
                    {%- else -%}
                    <h2 class="mb-1">Today:</h2>
                    <button id="hours-btn"></button>
                    <div id="hours-div">
                        <div class="day"><span>Sunday:</span> {{sunday}}</div>
                        <div class="day"><span>Monday:</span> {{monday}}</div>
                        <div class="day"><span>Tuesday:</span> {{tuesday}}</div>
                        <div class="day"><span>Wednesday:</span> {{wednesday}}</div>
                        <div class="day"><span>Thursday:</span> {{thursday}}</div>
                        <div class="day"><span>Friday:</span> {{friday}}</div>
                        <div class="day"><span>Saturday:</span> {{saturday}}</div>
                    </div>
                    {%- endif -%}
                </div>

                <div class="copy">
                    <p class="mb-1">Last updated: {{date | postDate}}</p>
                    <small>&copy; <span id="copyYear2"></span> {% if (tags) %}{{title}}{% endif %} | All Rights Reserved</small>
                </div>
        </div>

        <div class="menu-container">
            <h1>Menu</h1>
            <div id="menu">
                {{ content | safe }}
            </div>
        </div>

        <div class="disclaimer">
            <p>Menu for {{ title }} provided by findmenu.org</p>
            <h3>Disclaimer</h3>
            <p>Information shown may not reflect recent changes. Check with this restaurant for current pricing and menu information. A listing on findmenu.org does not necessarily reflect our affiliation with or endorsement of the listed restaurant, or the listed restaurant's endorsement of findmenu.org. Please tell us by clicking here if you know that any of the information shown is incorrect. For more information, please read our Terms and Conditions.</p>
        </div>
</section>


<!-- *** banner *** -->
<!-- <section id="banner">
    <a class="container" href="https://oatcake.org">
        <div class="content">
            <h2>Are You The Owner?</h2>
            <p>Learn how to create a great website for free or explore more options to help you reach your hungry customers and represent your brand.</p>
        </div>
        <div class="img">
            {% include 'svg/responsive.svg' %}
        </div>
    </a>
</section> -->
<!-- /banner -->

{% if (hours) %}{% else %}
<script src="/assets/js/date.js"></script>
{% endif %}
<script src="/assets/js/dropdown.js"></script>