---
title: Privacy
pageTitle: privacy
type: interior
description: 
layout: 'layouts/base.njk'
eleventyExcludeFromCollections: true
---

<section class="legal">
    <div class="container">
        <h2>Privacy Policy</h2>
        <p>User’s information protection is always in the first place among all our work. This privacy policy sets out the information we collect, how we use the information, how we protect the information and the third party links.</p>
        <h3>The Information We Collect</h3>
        <p>We will not collect your personal information like your name, address, phone number, etc. while you browse our website. The information we collect is non-personal, log files like IP (internet protocol) address, ISP, browser, the time you visited our website and the pages you browsed.</p>
        <h3>Cookies</h3>
        <p>We do not employ the use of cookies. Any analytical data collected is completely anonymous and fully GDPR compliant via <a href="https://www.netlify.com/products/analytics/">Netlify Analytics.</a></p>
        <h3>How We Use The Information</h3>
        <p>We collect the information to improve our products and services so a better browsing experience on the website can be offered. We may change the website in favor of the users’ preferences based on the surfing histories.</p>
        <h3>How We Protect The Information</h3>
        <p>Your information is much valued here, and we would use proper technical, physical, and managerial measures to safeguard your information from disclosure. Your information will not be leaked out unless by laws.</p>
        <h3>Third Party Links</h3>
        <p>Users may find third-party links of interest on our website. Once you click the link, you have entered into the third-party website over which we have no control at all. This privacy policy is only applicable to our website. Keep your eyes open and read their privacy policy while browsing the third party website.</p>
        <h3>Contact Information</h3>
        <p>Please feel free to contact us if you have any questions about the privacy policy or the website. We would be glad to help you out.</p>
    </div>
</section>
