---
title: Terms
pageTitle: terms
type: interior
description: 
layout: 'layouts/base.njk'
eleventyExcludeFromCollections: true
---

<section class="legal">
    <div class="container">
        <h2>Terms &amp; Conditions</h2>
        <p>These terms and conditions outline the rules and regulations for the use of findmenu.org’s Website, located at https://findmenu.org.</p>
        <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use findmenu.org if you do not agree to take all of the terms and conditions stated on this page.</p>
        <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person or user viewing our website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. “The Brands” refers to corresponding restaurant or foodtruck of the menu information provided by findmenu.org.</p>
        <h3>Your Privacy</h3>
        <p>Please read <a href="/legal/privacy">Privacy Policy.</a></p>
        <h3>License</h3>
        <p>Unless otherwise stated, findmenu.org and/or its licensors own the intellectual property rights for all material on findmenu.org. All intellectual property rights are reserved. You may access this from findmenu.org for your own personal use subjected to restrictions set in these terms and conditions.
You must not:</p>
        <ul>
            <li>Republish material from findmenu.org</li>
            <li>Sell, rent or sub-license material from findmenu.org</li>
            <li>Reproduce, duplicate or copy material from findmenu.org</li>
            <li>Redistribute content from findmenu.org</li>
        </ul>
        <p>This Agreement shall begin on the date hereof.</p>
        <h3>Hyperlinking to our Content</h3>
        <p>Individuals and organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.</p>
        <h3>Content Liability</h3>
        <p>Our site and its components are offered for informational purposes only. We shall not guarantee the accuracy, usefulness or availability of any information provided on our website or any third parties websites and we are also not liable for any errors or omissions in that information. User shall be responsible for any harm caused by the use and download of information.</p>
        <p>Information shown for “the Brands”, and provided by findmenu.org,  may not reflect recent changes. Check with “the Brand” for current pricing and information. A listing on findmenu.org does not necessarily reflect our affiliation with or endorsement of the listed “Brand”, or the listed “Brand”'s endorsement of findmenu.org.</p>
        <p>All trademarks or logos cited and used under "the Brands" are not affiliated with our website and also not our property. They are the sole property of their respective owners.</p>
        <h3>Reservation of Rights</h3>
        <p>We reserve the right to change or modify these conditions and items from time to time and the right to explain any changes in our services. Any changes will be announced in time.</p>
        <h3>Removal of links from our website</h3>
        <p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
        <h3>Disclaimer</h3>
        <p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
        <ul>
            <li>limit or exclude our or your liability for death or personal injury;</li>
            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
            <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
        </ul>
        <p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
        <p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
    </div>
</section>