footer {
  background-color: map.get($theme-colors, 'background');
  color: map.get($theme-colors, 'white');
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;

    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
    }
  }

  // copyright
  .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    div:nth-child(2) {
      text-align: center;
      margin-top: .5rem;

      @include media-sm {
        text-align: end;
      }
      @include media-sm-md {
        margin-top: 0;
      }
    }

    @include media-sm-md {
      flex-direction: row;
      justify-content: space-between;
      padding: 1rem 2rem;
    }
  }

  a {
    color: map.get($theme-colors, 'white');

    &:hover {
        color: map.get($theme-colors, 'accent');
    }
  }
  h3 {
    color: map.get($theme-colors, 'accent');
  }
  
}