---
title: Claim
pageTitle: claim
type: home
description: Claim a restaurant from our handcrafted collection of menus here.
layout: 'layouts/base.njk'
eleventyExcludeFromCollections: true
---

{% include 'components/contact-form.njk' %}
