---
permalink: "listings.toml"
eleventyExcludeFromCollections: true
---
 
[input]
url_prefix = "{{site.url}}"
html_selector = "article#menu"
 
{%- for post in collections.all %}
{% set absolutePostUrl %}{{ post.url | url }}{% endset %}
 
[[input.files]]
path = "{{post.outputPath}}"
url = "{{absolutePostUrl}}"
title = "{{post.data.title | safe}}"
 
{%- endfor %}

