---
permalink: "listings.toml"
eleventyExcludeFromCollections: true
---
 
[input]
url_prefix = "{{site.url}}"
 
{%- for post in collections.all %}
{% set absolutePostUrl %}{{ post.url | url }}{% endset %}
 
[[input.files]]
path = "{{post.inputPath}}"
url = "{{absolutePostUrl}}"
title = "{{post.data.title | safe}}"
 
{%- endfor %}


[output]
filename = "public/listings.st"